<%= render "shared/header" %>

<div class="main">
  <div class="bg-image">
    <div class="heading-text">
      <p class="heading-top">簡単に!</p>
      <p class="heading-next">あっという間に！</p>
      <p>Shumitomoなら<span class="lead-text">共通の趣味</span>の友達を作れる</p>
      <%= image_tag("lead.png", class:"lead-img") %>
    </div>
  </div>
  <div class="wrapper">
    <div class="topics-contents">
      ★こんな方にオススメ★
    </div>
    <div class="topics-items">
      <div class="content">
        <%= image_tag("maigo.png", class:"item-image") %>
        <div class="info">知らない土地に転勤した方</div>
      </div>
      <div class="content">
        <%= image_tag("nayamu.png", class:"item-image") %>
        <div class="info">周りに共通の趣味を持った友達がいない方</div>
      </div>
      <div class="content">
        <%= image_tag("favorite.png", class:"item-image") %>
        <div class="info">趣味をもっと増やしたい方</div>
      </div>
    </div>
  </div>
  <div class="usage">
    <div class="usage-title">
      Shumitomoの使い方
    </div>
    <div class="procedure-contents">
      <ul>
        <li class="text"><span class="number">①</span>：まずはサイトに登録</li>
        <li class="text"><span class="number">②</span>：ルーム検索してチャットに参加<br>　※ルームを投稿して参加を待つのもアリ</li>
        <li class="text"><span class="number">③</span>：会話に参加して友達になろう！</li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="procedure-end-text">
        <%= link_to 'ルームを作る', new_chat_room_path, class: 'procedure-link' %>
      </div>
    <% else %>
       <div class="procedure-end-text">
        <%= link_to '新規登録はこちらから', new_user_registration_path, class: 'procedure-link' %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>