<%= render "shared/second-header" %>
<div class="text-success-area">
  <span class="text-success"><%= flash[:notice] %></span>
</div>

<div class="container">
  <div class="room-main">
    <div class="user-count-area">
      現在<span class="users-count"><%= @chat_room.users.count %>名</span>のユーザーが参加しています
    </div>
    <div class="heading-area">
      <div class="heading">
        <%= @chat_room.name %>
      </div>
    </div>
    <div class="contributor-image-area">
      投稿者：<%= link_to @chat_room_user.user.nickname, user_path(@chat_room_user.user), class:"contributor-name", data: { 'turbolinks': false } %>
      <% if user_signed_in? %>
        <div class="menu-area">
          <p class="memu-text">Menu</p>
          <%= image_tag("menu.png", class:"menu-img", id:"menu") %>
          <div class="hidden" id="menu-list">
            <ul class="menu-list">
              <% if ChatRoomUser.exists?(chat_room_id: @chat_room.id, user_id: current_user.id) %>
                <li class="menu-btn"><%= link_to "入室", chat_room_chat_messages_path(@chat_room), class:"menu-text" %></li>
              <% end %>
              <% if current_user.id == @chat_room_user.user_id %>
                <li class="menu-btn"><%= link_to "編集", edit_chat_room_path(@chat_room), class:"menu-text" %></li>
                <li class="menu-btn"><%= link_to "削除", chat_room_path(@chat_room_user), method: :delete, class:"menu-text", id:"delete-btn", data: {confirm: "チャットルームを削除しますか？"}  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% if @chat_room_user.chat_room.image.present? %>
        <div class="image-display">
          <div class="contributor-image-outer">
            <div class="image-item">
              <%= image_tag @chat_room_user.chat_room.image.variant(resize: '500x500'), class: "image-show" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="image-nill-display">
            <div class="contributor-image-nill-outer">
              <p class="image-nill-item">no<br>image<p>
            </div>
        </div>
      <% end %>
    </div>
    <p class="contributor-introduction-text">ルーム紹介</p>
    <div class="profile-area">
      <div class="profile">
        <%= @chat_room_user.chat_room.introduction %>
      </div>
    </div>
    <div class="participate">
      <% if user_signed_in? %>
        <div class="likes" id="likes_button">
          <%= render partial: "shared/like", locals: { chat_room: @chat_room } %>
        </div>
        <% unless ChatRoomUser.exists?(chat_room_id: @chat_room.id, user_id: current_user.id) %>
        <div class="participate-area">
          <%= link_to "参加する", join_chat_room_path(@chat_room), class: "participate-btn", data: {confirm: "チャットルームに参加しますか"} %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>