<%= render "shared/second-header"%>

<div class="mypage-contents">
  <div class="my-box">
    <div class="my-heading"><%= "#{@user.nickname}さんのマイページ" %></div>
  </div>
  <div class="user-image-area">
    プロフィール画像
    <% if @user.image.present?%>
    <div class="image-display">
      <div class="image-outer">
        <div class="image-item">
          <%= @user.image %>
        </div>
      </div>
    </div>
    <% else %>
      <div class="image-nill-display">
        <div class="image-nill-outer">
           <p class="image-nill-item">no<br>image<p>
        </div>
      </div>
    <% end %>
  </div>
  <p class="profile-text">プロフィール</p>
  <div class="profile-area">
    <div class="profile">
      <%= @user.profile %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="selection-field">
    <div class="follower">
      フォロー      
    </div>
    <div class="follower-count-box"></div>
    <div class="followed">
      フォロワー
    </div>
    <div class="follower-count-box"></div>
  <% end %>
    <% if user_signed_in? %>
      <% unless @user.id == current_user.id %>
        <div class="followed-botton-area">
          <div class="followed-botton">
            フォローする
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="email-box">
      <%= image_tag("email.png", class:"email-image", id:"direct-mail-menu") %>
    </div>
  </div>
  <div class="dm hidden" id="dm-menu">
    <ul class="dm-menu">
      <% unless @user.id == current_user.id %>
        <li class="dm_room-create"><%= link_to "DMルームを作成", new_user_direct_room_path(@user) %></li>
      <% end %>
      <% if @user.id == current_user.id %>
        <li class="dm-list" id="dm-index">DMルーム一覧を表示</li>
      <% end %>
    </ul>
  </div>
  <div class="room-wrapper">
    <div class="room-area">
      <p class="room-text">チャットルーム一覧</p>  
      <div class="rooms">
        <% @chat_rooms.each do |chat_room| %>
          <div class="room-name-put">
            <%= link_to chat_room.name, chat_room_path(chat_room), class:"room" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="room-area hidden" id="dm-list">
      <p class="room-text">DMルーム一覧</p>  
      <div class="rooms">
        <% @direct_rooms.each do |direct_rooms| %>
          <div class="room-name-put">
            <%= link_to direct_rooms.subject,  user_direct_room_direct_messages_path(@user, direct_rooms), class:"room" %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>