<div class="mypage-container">
  <div class="text-success-area-user">
    <span class="text-success-user"><%= flash[:notice] %></span>
  </div>
  <div class="mypage-contents">
    <div class="my-box">
      <div class="my-heading"><%= "#{@user.nickname}さんのマイページ" %></div>
    </div>
    <div class="email-box">
      <% if user_signed_in? %>
        <% unless @user.id == current_user.id %>
          <% unless @dm_owner.present? || @dm_another.present? %>
            <%= link_to image_tag("email.png", class:"menu-image"), new_user_direct_room_path(@user) %>
          <% end %>
        <% end %> 
        <% if @user.id == current_user.id %>
          <%= image_tag("bookmark.png", class:"menu-image", id:"bookmark")%>
          <div class="bookmark-index hidden" id="bookmark-wrap">
            <div class="notification-text-area">
              <%= image_tag("return.png", class:"return-btn", id:"return-btn-bookmark")%>
              <p class="bookmark-text">お気に入り一覧</p>
            </div>
            <div class="text-border"></div>
            <% if @bookmarks.exists? %>
              <% @bookmarks.each do |bookmark| %>
                <%= link_to bookmark.chat_room.name, chat_room_path(bookmark.chat_room), class:"chat-room-text-bookmark"%>
              <% end %>
            <% else %>
              <p class="notification-nil">お気に入りはありません</p>
            <% end %>
          </div>
          <% if unchecked_notifications.any? %>
            <span class="notifications-count"><%= @notifications.count %></span>
          <% end %>
          <%= link_to image_tag("notification.png", class:"menu-image", id:"notification-btn"), check_user_path, remote: true %>
          <div class="notification hidden" id="notification-wrap">
            <div class="notification-wrap">
              <div class="notification-text-area">
                <%= image_tag("return.png", class:"return-btn", id:"return-btn")%>
                <p class="notification-text">通知一覧</p>
              </div>
              <div class="text-border"></div>
              <% if @notifications.exists? %>
                <div class="users-index">
                  <%= render partial: "shared/notification", collection: @notifications %>
                </div>
                <% else %>
                    <p class="notification-nil">通知はありません</p>
                <% end %>
                <% if @notifications.present? %>
                  <%= link_to image_tag("garbage.png", class:"garbage"), destroy_all_user_path, data: { 'turbolinks': false } %>
                  <p class="notification-destroy">通知を全件削除</p>
                <% end %>
            </div>
          </div>
          <%= link_to image_tag("edit.png", class:"menu-image"), edit_user_path, data: { 'turbolinks': false } %>
        <% end %>
      <% end %>
      <%= link_to image_tag("home.png", class:"menu-image"), root_path %>
    </div>
    <div class="user-image-area">
      <p class= "profile-text">Profile</p>
      <% if @user.image.present? %>
      <div class="image-display">
        <div class="image-outer">
          <div class="image-item">
            <%= image_tag(@user.image, class:"user-image") %>
          </div>
        </div>
      </div>
      <% else %>
        <div class="image-nill-display">
          <div class="image-nill-outer">
            <p class="image-nill-item">no<br>image<p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="profile-area">
      <div class="profile">
        <%= @user.profile %>
      </div>
    </div>
    <div class="selection-field" id="follow">
      <%= render "follow" %>
    </div>
  </div>
  <%= render "shared/user_index_rooms"%>
</div>