<div class="mypage-container">
  <div class="mypage-contents">
    <div class="my-box">
      <div class="my-heading"><%= "#{@user.nickname}さんのマイページ" %></div>
    </div>
    <div class="email-box">
      <% if user_signed_in? %>
        <% unless @user.id == current_user.id %>
          <%= link_to image_tag("email.png", class:"menu-image"), new_user_direct_room_path(@user) %>
        <% end %>
        <% if @user.id == current_user.id %>
          <%= image_tag("notification.png", class:"menu-image", id:"notification") %>
          <div class="notification">
            <div class="notification-wrap">
              <div class="notification-text-area">
                <%= image_tag("return.png", class:"return-btn", id:"return")%>
                <p class="notification-text">通知一覧</p>
              </div>
              <div class="text-border"></div>
              <% if @notifications.exists? %>
                <div class="users-index">
                  <%= render partial: "shared/notification", collection: @notifications %>
                </div>
                <% else %>
                    <p class="notification-nil">通知はありません</p>
                <% end %>
                <% if @notifications.present? %>
                  <%= link_to image_tag("garbage.png", class:"garbage"), destroy_all_user_path %>
                  <p class="notification-destroy">通知を全件削除</p>
                <% end %>
            </div>
          </div>
          <%= link_to image_tag("edit.png", class:"menu-image"), edit_user_path, data: { 'turbolinks': false } %>
        <% end %>
      <% end %>
      <%= link_to image_tag("home.png", class:"menu-image"), root_path %>
    </div>
    <div class="user-image-area">
      <p class= "profile-text">Profile</p>
      <% if @user.image.present? %>
      <div class="image-display">
        <div class="image-outer">
          <div class="image-item">
            <%= image_tag(@user.image, class:"user-image") %>
          </div>
        </div>
      </div>
      <% else %>
        <div class="image-nill-display">
          <div class="image-nill-outer">
            <p class="image-nill-item">no<br>image<p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="profile-area">
      <div class="profile">
        <%= @user.profile %>
      </div>
    </div>
    <div class="selection-field">
      <% if user_signed_in? %>
      <div class="follower">
        <%= link_to "フォロー", follows_user_path(@user), class:"follows" %>
        <div class="follower-count-box">
          <%= @following_users.count %>
        </div>    
      </div>
      <div class="followed">
        <%= link_to "フォロワー", followers_user_path(@user), class:"followers" %>
        <div class="follower-count-box">
          <%= @follower_users.count %>
        </div>
      </div>
      <div class="followed-botton-area">
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
          <div class="followed-botton">
            <%= link_to 'フォローを外す', user_relationships_path(@user.id), method: :delete, class: "f-btn danger" %>
          <% else %>
            <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class:"f-btn success" %>
          </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="room-wrapper">
    <div class="room-area">
      <p class="room-text">チャットルーム一覧</p>  
      <div class="rooms">
        <% @chat_rooms.each do |chat_room| %>
          <div class="room-name-put">
            <%= link_to chat_room.name, chat_room_path(chat_room), class:"room", data: { 'turbolinks': false } %>
          </div>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <div class="room-area" id="dm-list">
          <p class="room-text">DMルーム一覧</p>  
          <div class="rooms">
            <% @direct_rooms.each do |direct_room| %>
              <div class="room-name-put">
                <%= link_to direct_room.subject, user_direct_room_direct_messages_path(@user, direct_room), class:"room" %>
                <% direct_room.users.where.not(id: current_user.id).each do |user| %>
                  <span class="dm-user-nickname">　to <%= user.nickname %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
