<div class="chat-message-user">
  <div class="message-user-name">
    <%= chat_message.user.nickname %>
  </div>
  <div class="message-time">
     <%= chat_message.created_at.to_s(:datetime_jp) %>
     <% wdays = ['( 日 )','( 月 )','( 火 )','( 水 )','( 木 )','( 金 )','( 土 )'] %>
     <% day = chat_message.created_at.to_s(:wday_jp) %>
     <span class="wdays"><%= wdays[day.to_i]%></span>
  </div>
</div>
<div class="chat-message-contents">
  <% if chat_message.content.present? %>
    <span class="message-content" >
      <%= chat_message.content %>
    </span>
  <% end %>
</div>
<div class="chat-message-contents">
  <div class="messages">
    <%= image_tag chat_message.image.variant(resize: '500x500'), class: "chat-message-image" if chat_message.image.attached? %>
  </div>
</div>