<div class="chat-message-user">
  <div class="message-user-name">
    <%= direct_message.user.nickname %>
  </div>
  <div class="message-time">
    <%= direct_message.created_at.to_s(:datetime_jp) %>
    <% wdays = ['( 日 )','( 月 )','( 火 )','( 水 )','( 木 )','( 金 )','( 土 )'] %>
    <% day = direct_message.created_at.to_s(:wday_jp) %>
    <span class="wdays"><%= wdays[day.to_i]%></span>
  </div>
</div>
<div class="chat-message-contents">
  <% if direct_message.content.present? %>
    <span class="message-content" >
      <%= direct_message.content %>
    </span>
  <% end %>
</div>
<div class="chat-message-contents">
  <div class="messages">
    <%= image_tag direct_message.image.variant(resize: '500x500'), class: "chat-message-image" if direct_message.image.attached? %>
  </div>
</div>