<header class="header-area">
  <div class="header-contents">
    <div class="title-name">
      <%= link_to image_tag("title-logo.jpg", class:"title-icon"), root_path %>
    </div>
    <%= form_with(url: search_chat_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "input-box" %>
      <%= form.submit "検索", class: "submit-search" %>
    <% end %>
    </form>
    <div class="devise-lists">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" , data: { 'turbolinks': false } %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>
  <ul class="category-lists">
    <% @genres.each do |category| %>
      <li><%= link_to category.name, categories_path(category_id: category.id), class: "set"%></li>
    <% end %>
  </ul>
  <div class="text-success-area">
    <span class="text-success"><%= flash[:notice] %></span>
  </div>
</header>